

.TodoEditor{
    width: 600px;
    display: flex;
    flex-direction: column;
    padding: 16px;
    border: 1px solid black;
    border-radius: 4px;
    margin-bottom: 20px;
}

.TodoEditor__textarea{
line-height: 16px   ;

    padding: 12px 16px;
    border: 1px solid black;
    border-radius: 4px;

    resize: none;
    margin-bottom: 12px;
}